In [2]:
import pandas

In [4]:
ratings = pandas.read_csv('ratings.csv')

In [5]:
ratings[0:5]

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
lista = ratings.groupby('movieId').value_counts()

In [14]:
lista

movieId  userId  rating  timestamp
1        1       4.0     964982703     1
         5       4.0     847434962     1
         579     4.0     958881146     1
         610     5.0     1479542900    1
         609     3.0     847221025     1
                                      ..
193581   184     4.0     1537109082    1
193583   184     3.5     1537109545    1
193585   184     3.5     1537109805    1
193587   184     3.5     1537110021    1
193609   331     4.0     1537157606    1
Length: 100836, dtype: int64

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
516         5        1     4.0   847434962
874         7        1     4.5  1106635946
1434       15        1     2.5  1510577970
1667       17        1     4.5  1305696483
...       ...      ...     ...         ...
7420       50   188301     3.0  1533302277
58095     380   188301     4.0  1534123382
92158     596   188301     4.0  1535709468
27249     184   189333     4.0  1537110051
36373     248   189333     3.5  1534602181

[97390 rows x 4 columns]